* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;

  }
  
  .container {
    padding: 10px;
    width: 80%;
    margin:auto;
  }
  
  /* Header/Blog Title */
  .top {
        color: #262525;
        padding: 30px;
        text-align: center;
        background: white;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.2px;
  }
  
  hr {
    width: 45px;
    height: 5px;
    margin: 18px 58px 32px 2px;
    border-radius: 2px;
    background-color: #fe0000;
    margin: auto;
  }

  .text1 {
    margin: auto;
   opacity: 0.8;
   padding-bottom: 40px;
   font-size: 16px;
   line-height: 1.56;
   text-align: center;
   color: rgba(38, 37, 37, 0.8);
  }
  .row {
    width: 100%;
    height: auto;
  }

  .column {
    display: inline-block;
    padding: 20px 10px;
    width: 24%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39;
    letter-spacing: 0.9px;
    text-align: center;
    color: #262525;
  }

  .gradient {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 1.5px;
    text-align: left;
    padding: 2px 15px;
    background-image: linear-gradient(to right, red , white);
  }

  /* Why percentage width and auto height doesnt work here */
  .section2 {
      background-color: #ecdfdf;

  }
  .section2-text {
    text-align: justify;
    line-height: 1.88;
    padding: 50px;
    width: 52%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .section2-mobile {
    display: inline-block;
    width: 46%;
    height: 100%;
    padding-left: 220px;
    margin-top: -120px;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.gradient2 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 1.5px;
  text-align: right;
  padding: 2px 15px;
  background-image: linear-gradient(to left, red , white);
}

.mac-parent {
  position: relative;
  margin-bottom: 20vh;
}
.mac-text {
line-height: 1.88;
padding-left: 800px;
display: inline-block;

}

.mac-image {
display: block;
position: absolute;
width: 800px;
height: 700px;
padding-right: 350px;
top: -40px;
}

.ipad-parent {
  width: auto;

}
.ipad-text {
  display: inline-block;
  /* margin-top: 5px;
  height: 100%; */
  vertical-align: top;
  width: 50%;
  line-height: 1.88;
}
.ipad-image {
  display: inline-block;
  width: 49%;
  margin-top: -100px;
}

/* Section 3 */

.parent-section3 {
  background-color: #262525;

}
.text-red {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.46;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fe0000;
  width: 80%;
  text-align: center;
  padding-top: 100px;
  margin: auto;
}
.text-white {
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 40px;
  margin:auto;
}
.gallery {
  width: 80%;
  padding-top: 100px;
  margin: auto;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  height: 50vh;
  overflow: auto;
}
.child {
  padding: 20px;
  width: 48%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
}
.child-icon {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 40px 30px;
}
.child-text {
  width: 74%;
  display: inline-block;
  padding: 30px 40px;
  text-align: justify;
}
.extra {
  height: 20vh;
}